<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="datacrunch.js"></script>
    <script src="celestial.js"></script>
    <script src="solar.js"></script>
    <script src="sunCompare.js"></script>
</head>

<style>
    div.pane {
        border-style: solid;
        border: 1px solid black;
        background-color: #d9d9d9;
        border-radius: 15px;
        padding: 1%;

    }
    canvas {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    dl {
        margin: 0;
    }
    p.loading {
        font-family: 'Orbitron', sans-serif;
        font-size: 30px;
        font-weight: bold;
    }

    div.loading {
        text-align: center;
        padding: 20%;
    }

    p.starName {
        text-align: center;
        font-family: 'Orbitron', sans-serif;
        font-size: 20px;
        font-weight: bold;
    }

</style>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 style="font-family: 'Orbitron', sans-serif;" class="display-4">ExoWorld</h1>
            <p class="lead">An Angular JS app to visually explore exoplanets from NASA's Exoplanet API.</p>
            <p class="my-4">An exoplanet is a planet orbiting another star, outside our solar system. Over 4,000 <br>
            have been discovered and confirmed. This app is a story of planets and stars. </p>
        </div>
    </div>
    <div id="loading" class="loading">
        <p class="loading">Loading...</p>
        <div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>
    </div>
    <div ng-app="myApp" ng-controller="myCtrl" class="container">
        <div ng-repeat="star in content">
            <div class="pane"  id={{star.name}}>
                <div class="container">
                    <p class="starName">{{star.name}}</p>
                    <dl class="row">
                        <dt class="col-sm-3" style="font-family: 'Orbitron', sans-serif;">Stellar Classification</dt>
                        <dd class="col-sm-9" style="font-family: 'Orbitron', sans-serif;">{{star.spectral[0]}}</dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-3" style="font-family: 'Orbitron', sans-serif;">Planets</dt>
                        <dd class="col-sm-9" style="font-family: 'Orbitron', sans-serif;">{{star.celestialObjects.length}}</dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-3" style="font-family: 'Orbitron', sans-serif;">Distance (Light-years)</dt>
                        <dd class="col-sm-9" style="font-family: 'Orbitron', sans-serif;">{{star.distanceLightYears}}</dd>
                    </dl>
                    <button class="btn btn-primary btn-sm" ng-if="star.expanded && star.status == 0" ng-click="closePane(star)" style="font-family: Orbitron, sans-serif;"><span>Collapse</span></button>
                    <button class="btn btn-primary btn-sm" ng-if="!star.expanded || star.status != 0" ng-click="openPane(star, 0)" style="font-family: Orbitron, sans-serif;"><span>Animate Orbits</span></button>

                    <button class="btn btn-primary btn-sm" ng-if="star.expanded && star.status == 1" ng-click="closePane(star)" style="font-family: Orbitron, sans-serif;"><span>Collapse</span></button>
                    <button class="btn btn-primary btn-sm" ng-if="!star.expanded || star.status != 1" ng-click="openPane(star, 1)" style="font-family: Orbitron, sans-serif;"><span>Sun Compare</span></button>
                    <div ng-if="star.expanded"><br></div>
                    <div class="dropdown" ng-if="star.expanded && star.status == 1">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Overlay Options
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button class="dropdown-item" ng-if="overlaySunCompareRadius" ng-click="setSunCompareOverlay(star, 0)">✓ Radius</button>
                            <button class="dropdown-item" ng-if="!overlaySunCompareRadius" ng-click="setSunCompareOverlay(star, 0)">Radius</button>
                        </div>
                    </div>
                </div>
                <canvas id={{"canvas-"+star.name}} style="display: none"></canvas>
                <p ng-if="star.expanded && star.status == 0"><br>Notes:</p>
                <ul ng-if="star.expanded && star.status == 0">
                    <li>Planets appear far closer in <b>size and distance</b> to their host star than they are in actuality.</li>
                    <li>Planets are the correct size relative to other planets in the same system, but are scaled differently from system to system.</li>
                    <li>Orbital characteristics such as perihelion, aphelion, and eccentricity are correct to current scientific understanding.<br>
                        However, for simplicity all aphelions are horizontal and all perihelions are verticle, which may or may not match actuality.</li>
                    <li>Orbital inclination is not currently modeled, as this is a 2D representation.
                </ul>
            </div>
            <br><br>
        </div>

    </div>
    <script>
        var app = angular.module('myApp', []);
            app.controller('myCtrl', function($scope, $http) {
                $http.get("https://exoplanetarchive.ipac.caltech.edu/TAP/sync?query=select+hostname,pl_name,pl_orbeccen,pl_radj,pl_orbsmax,st_spectype,st_rad,sy_dist+from+ps")
                .then(function(response) {
                    console.log("test");
                    $scope.content = planetsToStars(response.data);
                    document.getElementById('loading').style.display = 'none';
                }, function(response) {
                    $scope.content = "Something went wrong";
                });
                $scope.currentStar = null;
                $scope.overlaySunCompareRadius = true;
                $scope.closePane = function(star) {
                    star.expanded = false;
                    terminate();
                }
                $scope.openPane = function(star, status){
                    if ($scope.currentStar != null){
                        $scope.closePane($scope.currentStar);
                    }
                    $scope.currentStar = star;
                    star.expanded = true;
                    star.status = status;
                    terminate();
                    if (status == 0){
                        execute(star);
                    } else if (status == 1){
                        sunCompareExecute(star);
                    }

                }
                $scope.setSunCompareOverlay = function(star, option){
                    $scope.overlaySunCompareRadius = !$scope.overlaySunCompareRadius;
                    if ($scope.overlaySunCompareRadius){
                        overlayRadius = true;
                    } else {
                        overlayRadius = false;
                    }
                    sunCompareExecute(star);
                }
            });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
