<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="datacrunch.js"></script>
    <script src="celestial.js"></script>
    <script src="solar.js"></script>
</head>

<style>
    div.pane {
        border-style: solid;
        border: 1px solid black;
        background-color: #d9d9d9;
        border-radius: 15px;

        padding: 1%;
    }
    canvas {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    dl {
        margin: 0;
    }
    p.loading {
        font-family: 'Orbitron', sans-serif;
        font-size: 30px;
        font-weight: bold;
    }

    div.loading {
        text-align: center;
        padding: 20%;
    }

    p.starName {
        text-align: center;
        font-family: 'Orbitron', sans-serif;
        font-size: 20px;
        font-weight: bold;
    }

</style>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 style="font-family: 'Orbitron', sans-serif;" class="display-4">ExoWorld</h1>
            <p class="lead">An Angular JS app to explore exoplanets from NASA's Exoplanet API through animation.</p>
        </div>
    </div>
    <div id="loading" class="loading">
        <p  class="loading">Loading...</p>
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div ng-app="myApp" ng-controller="myCtrl" class="container">
        <div ng-repeat="star in content">
            <div class="pane"  id={{star.name}}>
                <div class="container">
                    <p class="starName">{{star.name}}</p>
                    <dl class="row">
                        <dt class="col-sm-3" style="font-family: 'Orbitron', sans-serif;">Stellar Classification</dt>
                        <dd class="col-sm-9" style="font-family: 'Orbitron', sans-serif;">{{star.spectral[0]}}</dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-3" style="font-family: 'Orbitron', sans-serif;">Planets</dt>
                        <dd class="col-sm-9" style="font-family: 'Orbitron', sans-serif;">{{star.celestialObjects.length}}</dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-3" style="font-family: 'Orbitron', sans-serif;">Distance (Light-years)</dt>
                        <dd class="col-sm-9" style="font-family: 'Orbitron', sans-serif;">{{star.distanceLightYears}}</dd>
                    </dl>
                    <button class="btn btn-primary btn-sm" ng-if="star.expanded" ng-click="closePane(star)" style="font-family: Orbitron, sans-serif;"><span>Collapse</span></button>
                    <button class="btn btn-primary btn-sm" ng-if="!star.expanded" ng-click="openPane(star)" style="font-family: Orbitron, sans-serif;"><span>Animate</span></button>
                </div>
                <div ng-if="star.expanded"><br></div>
                <canvas id="canvas" ng-if="star.expanded" width="1000" height="700"></canvas>
            </div>
            <br><br>
        </div>

    </div>
    <script>
        var app = angular.module('myApp', []);
            app.controller('myCtrl', function($scope, $http) {
                $http.get("https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?table=exoplanets&format=json&select=pl_hostname,pl_name,pl_orbeccen,pl_radj,pl_orbsmax,st_spstr,st_rad,st_dist")
                .then(function(response) {
                    $scope.content = planetsToStars(response.data);
                    document.getElementById('loading').style.display = 'none';
                    document.getElementById('loadingSpinner').style.display = 'none';
                }, function(response) {
                    $scope.content = "Something went wrong";
                });
                $scope.currentStar = null;
                $scope.closePane = function(star) {
                    star.expanded = false;
                    terminate();
                }
                $scope.openPane = function(star){
                    if ($scope.currentStar != null){
                        $scope.closePane($scope.currentStar);
                    }
                    $scope.currentStar = star;
                    star.expanded = true;
                    terminate();
                    execute(star);
                }
            });
    </script>
</body>
</html>
